.App {
  text-align: center;
  width: 100%; /* Ensure the app uses full width */
}

.App-header {
  background-color: #007bff; /* More vibrant color for the header */
  width: 100%; /* Full width for the header */
  min-height: 80px; /* Reduce height if preferred */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Add padding to give the header a cleaner look */
  font-size: 1.2rem; /* Slightly reduce font size */
  color: white;
}
